
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>View my Courses</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/album.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>

  <body ng-app="AApp" ng-controller="ACtrl">

    <header>
    </header>

    <main role="main">

      <section class="jumbotron text-center" ng-include="'header.html'">
      </section>

      <selection class="jumbotron text-center">
        <h3>My Courses</h3>
      </selection>

      <section class="jumbotron">
      <div class="container" ng-repeat="group in coursegroups">
        <h4>{{ group[0].month }}</h4>
        <form class="form-control" method="POST" action="delete_courses.php">
          <div class="form-group" ng-repeat="course in group">
            <label class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" ng-cloak>{{ course.title }}</h5>
                <small ng-click="remove(course.id)" ng-cloak>remove</small>
              </div>
            </label>
            <input name="tosend" type="hidden" value="{{ toDelete }}">
          </div>
          <button type="submit" class="btn btn-danger my-2" ng-click="delete(group[0].month)" ng-if="coursegroups[0].length > 0">Delete Group</button>
        </form>
        <hr>
      </div>
      <div class="container">
        <form method="POST" action="delete_courses.php" ng-if="coursegroups[0].length > 0">
          <input name="tosend" type="hidden" value="{{ toDelete }}">
          <button type="submit" class="btn btn-primary my-2">Update my Courses</button>
        </form>
      </div>
    </section>
    </main>

    <script>
      var app = angular.module('AApp', []);
      app.controller('ACtrl', function($scope, $http) {
        $scope.mycourses = [];
        $scope.coursegroups = [];
        $scope.toDelete = [];

        //load user information
        $http.get("php/user.php")
          .then(function (response) {
            $scope.user = response.data.records[0];
            $scope.userdata = [];
            $scope.userdata['name'] = $scope.user.name;
            $scope.userdata['email'] = $scope.user.email;
            $scope.userdata['date'] = $scope.user.date;
            $scope.userdata['gender'] = $scope.user.gender;
            $scope.userdata['status'] = $scope.user.status;
            $scope.userdata['bio'] = $scope.user.bio;
          });

        //get the user's courses and organize them in groups of the same month
        $http.get("php/mycourses.php")
          .then(function (response) {
            $scope.mycourses = response.data.records;
            let current_m;
            if($scope.mycourses.length > 0) {
              current_m = $scope.mycourses[0]['month'];
            }
            let current_group = [];
            for(i=0;i<$scope.mycourses.length;i++) {
              if($scope.mycourses[i]['month'] == current_m) {
                current_group.push($scope.mycourses[i]);
              } else {
                $scope.coursegroups.push(current_group.slice());
                current_group = [];
                current_m = $scope.mycourses[i]['month'];
                current_group.push($scope.mycourses[i]);
              }
            }
            $scope.coursegroups.push(current_group.slice());
          }, function (response) {
            console.log("couldn't load");
          });

          //remove particular courses
          $scope.remove = function(id) {
            for(i=0;i<$scope.coursegroups.length;i++) {
              for(j=0;j<$scope.coursegroups[i].length;j++) {
                if($scope.coursegroups[i][j]['id'] == id && $scope.coursegroups[i].length > 1) {
                  $scope.toDelete.push($scope.coursegroups[i][j]['id']);
                  $scope.coursegroups[i].splice(j,1);
                }
              }
            }
          }

          //revome group of courses
          $scope.delete = function(month) {
            $scope.toDelete = [];
            for(i=0;i<$scope.coursegroups.length;i++) {
              console.log(month);
              if($scope.coursegroups[i][0]['month'] == month) {
                for(j=0;j<$scope.coursegroups[i].length;j++) {
                  $scope.toDelete.push($scope.coursegroups[i][j]['id']);
                }
              }
            }
            console.log($scope.toDelete);
          }
      });
    </script>

  </body>
</html>
