
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>View my Courses</title>

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/album.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="js/viewcourses.js"></script>

  </head>

  <body ng-app="AApp" ng-controller="ACtrl">

    <header>
    </header>

    <main role="main">

      <section class="jumbotron text-center" ng-include="'header.html'">
      </section>

      <selection class="jumbotron text-center">
        <h3>My Courses</h3>
      </selection>

      <section class="jumbotron">
      <div class="container" ng-repeat="group in coursegroups">
        <h4>{{ group[0].month }}</h4>
        <form class="form-control" method="POST" action="delete_courses.php">
          <div class="form-group" ng-repeat="course in group">
            <label class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" ng-cloak>{{ course.title }}</h5>
                <small ng-click="remove(course.id)" ng-cloak>remove</small>
              </div>
            </label>
            <input name="tosend" type="hidden" value="{{ toDelete }}">
          </div>
          <button type="submit" class="btn btn-danger my-2" ng-click="delete(group[0].month)" ng-if="coursegroups[0].length > 0">Delete Group</button>
        </form>
        <hr>
      </div>
      <div class="container">
        <form method="POST" action="delete_courses.php" ng-if="coursegroups[0].length > 0">
          <input name="tosend" type="hidden" value="{{ toDelete }}">
          <button type="submit" class="btn btn-primary my-2">Update my Courses</button>
        </form>
      </div>
    </section>
    </main>

  </body>
</html>
